*{
    background-color: 	rgb(211,211,211); /* Background color */
}

body{
    text-align: center;
    font-size: 2ex; /* Relative unit */
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Source Code Pro';
    text-decoration: underline wavy beige;
}

/* List of texts in my journal aligns left*/
#list {
    text-align: left; 
}

/* Create 3 columns floating left for my journal */
.column {
    float: left;
    width: 33.33%;
}
  

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 450pt) {
    .column {
        width: 100%;
    }
}

/* Absolute position for footer */
#footer {
    position:  absolute;
    width: 100%;
}

/* Sizing the images*/
img {
    height:10cm;
    width: 6cm;
    border-radius: 2em;
    padding: 10px 10px 0 10px;
}

/* Days title */
#day-title {
    font-size:2ch; /*Unit*/
}

/* Wrapper grid for Favorite Role Models */
.wrapper {
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-bottom: 30px;
    justify-items: center;
}

/* Relative position for each box */
.wrapper > .box{
    position: relative;
    
}

.wrapper .box p{
    font-size: smaller;
}

/* Designing the images inside the boxes */
#fav-players{
    -webkit-filter: blur(5px);
    display: inline-block;
    padding: 20px 20px 20px 20px;
    margin: 0;
    /* Sizing */
    max-height: 200px;
    width: auto;
    border: 0.5em solid;
    border-radius: 0.625rem;
    border-color: hsl(0, 100%, 0%);
    border-style: dashed;
    position: relative;
}

#fav-players:hover{
    -webkit-filter: blur(0);    
}

.title{
    padding-top: 10px;
}

/* Sizing text box */
input[type="text"]{
    width: 200px;
    margin-bottom: 10px;

}

/* Button submit */
button{
    font-family: monospace;
}

/* Linked text */
a{
    border: 2px solid black;
    color:hsl(0, 100%, 0%);
    text-decoration: none;
    display: inline-block;
    background-color: palevioletred ;
    text-align: center;
    text-transform: uppercase;
}

button:hover{
    background-color: #000000;
    color: white;
}

/* Creating flex container for top list programming language */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    order: 7;
}

.flex-container > div {
    background-color: gray;
    margin: 50px;
    padding: 20px;
    font-size: 20px;
}